.component-container {
    width: 100%;
    padding: 24px;
}

.tagfilter {
    border-radius: 4px;
    width: 230px;
    height: 37px;
    background-color: white;
    border: 1px solid rgb(198, 201, 201);
    list-style: 37px;
}

.tagfilter:focus {
    outline: none;
}

.button-hover-c:hover {
    background-color: #eaeff2;
}

.background-select-tag {
    background-color: #dcdfe2!important;
}

a.border-gray {
    border-color: #777878!important;
    border-width: 1px!important;
    border-style: solid!important;
}
a.border-index-center {
    border-top: 1px solid #777878!important;
    border-bottom: 1px solid #777878!important;
}
.tagfilter-icon {
    color: rgb(131, 140, 149);
    width: 18px;
    height: 18px;
    text-align: center;
    position: absolute;
    left: 10px;
    line-height: 37px!important;
}

.post-tag {
    margin-bottom: 12px;
}
.post-tag-link {
    color: #356a8f;
    background-color: #e1ecf4;
    padding: 4.8px 6px;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    float: left;
}

.post-tag-desc {
    font-size: 12px;
    height: 72px;
    margin-bottom: 13px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-tag-descmore {
    font-size: 11px;
    height: 33px;
    margin-bottom: 13px;
    color: #838c95;
}

.post-tag-descmore a{
    color: #838c95;
}

.post-tag-descmore a:hover{
    color: #838c95;
}

.tag-container {
    border: 1px solid #838c95;
    border-radius: 4px;
}

.tag-page-btn {
    height: 25px;
    padding: 8px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #bac1c9;
}

.tag-page-btn--selected {
    background-color: rgb(244, 128, 35)!important;
    cursor: text;
}