body {
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
  }
  
  .container {
    background-color: #fafafa;
    display: flex;
  }
  
  .frame-1 {
    flex: 29;
    align-items: center;
  }
  
  .frame-1-content {
    box-sizing: border-box;
    width: 380px;
    margin: auto;
    margin-top: 193px;
  }
  
  .content-heading {
    height: 28px;
  
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  
    color: #000000;
  }
  
  .content-heading-text {
    width: 380px;
    height: 60px;
  
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.05em;
  
    display: flex;
    align-items: center;
  
    color: #000000;
  }
  
  .content-login {
    width: 380px;
    margin: auto;
  }
  
  .login-input {
    display: flex;
    background: #ffffff;
    width: 380px;
    height: 42px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .login-input-field {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-left: 15px;
  }
  
  .login-input-field label {
    width: 226px;
    height: 9px;
    margin-top: 8px;
    margin-bottom: 2px;
  
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 9px;
    display: flex;
    align-items: center;
  
  
    color: #808080;
  }
  
  .login-input-field input {
    height: 18px;
    padding: 0;
  
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
  
    color: #000000;
    border: none;
  }
  
  .login-input-field input:focus-visible {
    outline: none;
  }
  
  .login-input-validation i,
  .login-input-validation img {
    width: 40px;
    height: 42px;
    text-align: center;
    line-height: 42px;
  }
  
  .login-input-validation--checked i {
    display: block;
    color: #17a100;
  }
  
  .login-input-validation--unchecked i {
    display: block;
    color: red;
  }
  
  .login-password-validation-text {
    height: 20px;
    margin-top: -5px;
    margin-bottom: 15px;
  
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 200% */
  
    display: flex;
    align-items: center;
    text-indent: 15px;
  }
  
  .login-input--error {
    color: #ff0000;
  }
  
  .login-input--success {
    color: #17a100;
  }
  
  .login-button {
    width: 100%;
    height: 38px;
  
    /* Primary 2 */
  
    background: #f48023;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
  
    /* Inside auto layout */
  }
  
  .image {
    /* position: absolute; */
    flex: 43;
    /* width: 860px; */
    height: 816px;
    /* left: 580px;
    top: 84px; */
  }
  
  .image > img {
    width: 100%;
    height: 816px;
  }
  