.SideBar {
    transition: ease 0.2s;
    box-sizing: border-box;
    justify-content: space-between;
}
.SearchPopover {
    position: absolute;
    top: 0;
    left: 3.9rem;
    min-width: calc(100vw - 4rem);
}
.IconFooter {
    margin-top: 0.5rem;
    margin-bottom: 7rem;
    i {
        font-size: 1.5rem;
        color: #f48023;
        padding: 0.5rem 1rem 0.5rem;
    }
}
.SearchButton {
    transition: ease 0.2s;
    cursor: pointer;
    &:hover {
        background-color: #fcf4ec;
    }
}
@media only screen and (max-width: 768px) {
}
