.SideBar {
    background-color: #f48023;
    transition: ease 0.2s;
    box-sizing: border-box;
    // justify-content: space-between;
    i {
      color: #fff;
    }
  }
  .SearchPopover {
    position: absolute;
    left: 5.7rem;
    min-width: calc(100vw - 7rem);
  }
  .IconFooter {
    i {
      font-size: 1.5rem;
      color: #fff;
      padding: 0.5rem 1rem 0.5rem;
    }
  }
  .SearchButton {
    transition: ease 0.2s;
    cursor: pointer;
    &:hover {
      background-color: #e0751e;
    }
  }
  .ButtonShowSideBar {
    position: absolute;
    border-radius: 50%;
    font-size: 2rem;
    right: -12px;
    background-color: #f48023;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
  }
  
  @media only screen and (max-width: 992px) {
    .SearchPopover {
      left: 5.2rem;
      min-width: calc(100vw - 6.5rem);
    }
  }
